@charset "UTF-8";
/* CБРОС СТИЛЕЙ */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* ОБЩИЕ */
img {
  display: block;
}

button {
  border: none;
}

.title {
  text-align: center;
  color: var(--title-text-color);
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #f09930;
}

address {
  font-style: normal;
}

/* УБИРАЕМ ПОДЧЕРКИВАНИЕ */
.decoration {
  text-decoration: none;
}

/* УБИРАЕТ ЭФФЕКТ СПИСКА */
.list {
  list-style: none;
}

/* НАСТРАИВАЕМ ПРАВИЛЬНЫй РАЗМЕР БЛОКОВ */
html {
  box-sizing: border-box;
}

/* НАСЛЕДОВАНИЕ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/* СПРЯТАННЫЕ ЭЛЛЕМЕНТЫ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.text--thick {
  font-weight: 500;
}

.section {
  background-color: var(--white-bcg-color);
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 1024px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
}

.space {
  margin-bottom: 26px;
}

.swiper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 44px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 44px;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.swiper-first {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  display: none;
}
@media screen and (min-width: 1024px) {
  .swiper-button-next {
    display: flex;
  }
}

.swiper-button-prev {
  display: none;
}
@media screen and (min-width: 1024px) {
  .swiper-button-prev {
    display: flex;
  }
}

.modal-mekong {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 120%;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  align-items: center;
  background-color: #ffffff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media screen and (min-width: 1024px) {
  .modal-mekong {
    width: 996px;
    height: 468px;
    min-height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9176470588);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
@media screen and (min-width: 1163px) {
  .modal-mekong {
    width: 1106px;
  }
}
.modal-mekong__close {
  align-self: flex-end;
  min-width: 37px;
  border: 0;
  background-color: transparent;
  padding: 16px;
}
.modal-mekong__close-icone {
  width: 18px;
  height: 18px;
}
.modal-mekong__pre-title {
  align-self: flex-start;
  padding: 5px;
  background-color: #333333;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white-text-color);
  max-width: 271px;
}
.modal-mekong__title {
  padding-top: 35px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 19px;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1024px) {
  .modal-mekong__title {
    font-size: 24px;
  }
}
.modal-mekong__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  max-width: 339px;
}
@media screen and (min-width: 1024px) {
  .modal-mekong__text {
    align-self: flex-start;
    max-width: 503px;
    font-size: 18px;
  }
}
.modal-mekong__img {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  padding-left: 40px;
}

.part__wraper {
  padding-left: 32px;
  padding-right: 32px;
}
@media screen and (min-width: 1024px) {
  .part__wraper {
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    width: 100%;
  }
}

.metric__box--mekong {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.metric-mekong {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .metric-mekong {
    flex-direction: row;
    min-width: 100%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1164px) {
  .metric-mekong {
    min-width: 70%;
    justify-content: space-between;
  }
}
.metric-mekong__numbers {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1024px) {
  .metric-mekong__numbers {
    font-size: 48px;
  }
}
.metric-mekong__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 0.9;
}
@media screen and (min-width: 1024px) {
  .metric-mekong__text {
    font-size: 24px;
  }
}

.metric-mekong--positioner {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  .metric-mekong--positioner:first-child {
    margin-right: 20px;
  }
}

.modal-paez {
  overflow-y: auto;
  background-color: var(--main-color);
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .modal-paez {
    width: 996px;
    height: 678px;
    min-height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9176470588);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
@media screen and (min-width: 1163px) {
  .modal-paez {
    width: 1106px;
  }
}
.modal-paez__close {
  align-self: flex-end;
  min-width: 37px;
  border: 0;
  background-color: transparent;
  padding: 16px;
}
.modal-paez__close-icone {
  width: 18px;
  height: 18px;
}
.modal-paez__pre-title {
  align-self: flex-start;
  padding: 5px;
  background-color: #333333;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white-text-color);
  max-width: 319px;
}
.modal-paez__title {
  padding-top: 35px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 19px;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1024px) {
  .modal-paez__title {
    font-size: 24px;
  }
}
.modal-paez__text {
  padding-top: 22px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  max-width: 339px;
}
.modal-paez__img {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}
.modal-paez__third-part {
  min-width: 278px;
  min-height: 224px;
}

.bot-part__img-bot {
  display: flex;
  justify-content: center;
  padding-top: 26px;
  padding-bottom: 50px;
}

.modal-part__img-bot {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.part__wraper-second {
  padding-left: 32px;
  padding-right: 32px;
}
@media screen and (min-width: 1024px) {
  .part__wraper-second {
    padding-left: 0;
    padding-right: 0;
    display: none;
  }
}

.pc-paez {
  display: none;
}
@media screen and (min-width: 1024px) {
  .pc-paez {
    display: flex;
    flex-direction: column;
  }
}
.pc-paez__top-block {
  min-width: 952px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.pc-paez__bot-block {
  display: flex;
  gap: 59px;
  align-items: center;
}
.pc-paez__left-top-block {
  display: flex;
  flex-direction: column;
}
.pc-paez__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}
.pc-paez__metrick-positioner {
  margin-top: 25px;
  display: flex;
  gap: 54px;
}
.pc-paez__metrick-wraper {
  display: flex;
  align-items: center;
  gap: 14px;
}
.pc-paez__metrick-number {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1163px) {
  .pc-paez__metrick-number {
    font-size: 48px;
  }
}
.pc-paez__metrick-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 0.9;
}
@media screen and (min-width: 1163px) {
  .pc-paez__metrick-text {
    font-size: 24px;
  }
}
.pc-paez__text {
  margin-top: 17px;
  max-width: 489px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

.modal-havaianas {
  overflow-y: auto;
  background-color: var(--main-color);
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 120%;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .modal-havaianas {
    width: 996px;
    height: 468px;
    min-height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9176470588);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
@media screen and (min-width: 1163px) {
  .modal-havaianas {
    width: 1106px;
  }
}
.modal-havaianas__close {
  align-self: flex-end;
  min-width: 37px;
  border: 0;
  background-color: transparent;
  padding: 16px;
}
.modal-havaianas__close-icone {
  width: 18px;
  height: 18px;
}
.modal-havaianas__pre-title {
  align-self: flex-start;
  padding: 5px;
  background-color: #333333;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white-text-color);
  max-width: 319px;
}
@media screen and (min-width: 1024px) {
  .modal-havaianas__pre-title {
    margin-left: 56px;
  }
}
.modal-havaianas__title {
  padding-top: 35px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 19px;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1024px) {
  .modal-havaianas__title {
    font-size: 24px;
  }
}
.modal-havaianas__text {
  padding-top: 22px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  max-width: 339px;
}
@media screen and (min-width: 1024px) {
  .modal-havaianas__text {
    align-self: flex-start;
    max-width: 468px;
    padding-top: 0;
    font-size: 18px;
  }
}
.modal-havaianas__img {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .modal-havaianas__img {
    padding-left: 40px;
  }
}
.modal-havaianas__third-part {
  min-width: 278px;
  min-height: 224px;
}

.bot-part__img-bot {
  display: flex;
  justify-content: center;
  padding-top: 26px;
  padding-bottom: 50px;
}

.modal-part__img-bot {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.part__wraper {
  padding-left: 32px;
  padding-right: 32px;
}
@media screen and (min-width: 1024px) {
  .part__wraper {
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    width: 100%;
  }
}

.metric__box--havaianas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.metric-havaianas {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .metric-havaianas {
    flex-direction: row;
    min-width: 100%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1164px) {
  .metric-havaianas {
    min-width: 70%;
    justify-content: space-between;
  }
}
.metric-havaianas__numbers {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1024px) {
  .metric-havaianas__numbers {
    font-size: 48px;
  }
}
.metric-havaianas__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 0.9;
}
@media screen and (min-width: 1024px) {
  .metric-havaianas__text {
    font-size: 24px;
  }
}

.metric-havaianas--positioner {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  .metric-havaianas--positioner:first-child {
    margin-right: 20px;
  }
}

.modal-oakwood {
  overflow-y: auto;
  background-color: var(--main-color);
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 120%;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .modal-oakwood {
    width: 996px;
    height: 468px;
    min-height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9176470588);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
@media screen and (min-width: 1163px) {
  .modal-oakwood {
    width: 1106px;
  }
}
.modal-oakwood__close {
  align-self: flex-end;
  min-width: 37px;
  border: 0;
  background-color: transparent;
  padding: 16px;
}
.modal-oakwood__close-icone {
  width: 18px;
  height: 18px;
}
.modal-oakwood__pre-title {
  align-self: flex-start;
  padding: 5px;
  background-color: #333333;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white-text-color);
  max-width: 205px;
}
.modal-oakwood__title {
  padding-top: 35px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 19px;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1024px) {
  .modal-oakwood__title {
    font-size: 24px;
  }
}
.modal-oakwood__text {
  padding-top: 22px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  max-width: 339px;
}
@media screen and (min-width: 1024px) {
  .modal-oakwood__text {
    align-self: flex-start;
    max-width: 614px;
    font-size: 18px;
    padding-top: 0;
  }
}
.modal-oakwood__img {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .modal-oakwood__img {
    padding-left: 40px;
  }
}
.modal-oakwood__third-part {
  min-width: 278px;
  min-height: 224px;
}

.bot-part__img-bot {
  display: flex;
  justify-content: center;
  padding-top: 26px;
  padding-bottom: 50px;
}

.modal-part__img-bot {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.metric__box--oakwood {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.metric-oakwood {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .metric-oakwood {
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1164px) {
  .metric-oakwood {
    justify-content: space-between;
  }
}
.metric-oakwood__numbers {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1024px) {
  .metric-oakwood__numbers {
    font-size: 48px;
  }
}
.metric-oakwood__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 0.9;
}
@media screen and (min-width: 1024px) {
  .metric-oakwood__text {
    font-size: 24px;
  }
}

.metric-oakwood--positioner {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  .metric-oakwood--positioner:first-child {
    margin-right: 20px;
  }
}

.form {
  overflow-y: auto;
  background-color: #272727;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__link {
  padding-top: 28px;
}
.form__logo {
  fill: #ffffff;
  width: 107px;
  height: 16.61px;
}
@media screen and (min-width: 1024px) {
  .form__logo {
    width: 160px;
    height: 24.84px;
  }
}
.form__close {
  background-color: transparent;
  position: absolute;
  top: 26px;
  right: 24px;
}
@media screen and (min-width: 1024px) {
  .form__close {
    right: 56px;
  }
}
.form__close-icone {
  fill: #ffffff;
  width: 23px;
  height: 23px;
}
.form__close-icone:hover, .form__close-icone:focus {
  fill: #f09930;
}
.form__title {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-title-color);
  max-width: 200px;
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .form__title {
    max-width: 599px;
    font-size: 60px;
  }
}

.modal__form {
  padding-top: 35px;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 288px;
}
@media screen and (min-width: 380px) {
  .modal__form {
    max-width: 371px;
  }
}
@media screen and (min-width: 768px) {
  .modal__form {
    max-width: 544px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__form {
    max-width: 810px;
  }
}

.modal__input-positioner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1024px) {
  .modal__input-positioner {
    flex-direction: row;
    gap: 24px;
  }
}

.modal-form-positioner {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .modal-form-positioner {
    display: flex;
    flex-direction: row;
  }
}

.modal__field {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.modal__lable {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
}

.input__wrap {
  height: 100%;
}

.modal__input {
  cursor: pointer;
  width: 100%;
  height: 50px;
  outline: none;
  min-width: 256px;
  border: 1px solid #cccccc;
  transition: border 250ms var(--timing-function);
}
@media screen and (min-width: 380px) {
  .modal__input {
    min-width: 339px;
  }
}
@media screen and (min-width: 768px) {
  .modal__input {
    min-width: 512px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__input {
    min-width: 377px;
  }
}

input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: 10px;
  top: -5px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid + span:not(:focus)::before {
  content: "✖";
  color: red;
}

input:valid + span::before {
  content: "✓";
  color: green;
}

.online__comment {
  resize: none;
  height: 123px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  outline: none;
  min-width: 256px;
  border: 1px solid #cccccc;
}
@media screen and (min-width: 380px) {
  .online__comment {
    min-width: 339px;
  }
}
@media screen and (min-width: 768px) {
  .online__comment {
    min-width: 512px;
  }
}
@media screen and (min-width: 1024px) {
  .online__comment {
    min-width: 778px;
  }
}

::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  color: #6f6f6f;
}

:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  color: #6f6f6f;
}

::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  color: #6f6f6f;
}

.modal__wrap-button {
  margin-right: auto;
}

.modal__button {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  background: #f09930;
  color: #ffffff;
  padding: 14px;
  min-width: 256px;
}
@media screen and (min-width: 380px) {
  .modal__button {
    min-width: 339px;
  }
}
@media screen and (min-width: 768px) {
  .modal__button {
    min-width: 512px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__button {
    min-width: 256px;
    height: 38px;
    margin-top: 7px;
    padding: 8px;
  }
}

@media screen and (min-width: 380px) {
  .container-form {
    min-width: 339px;
  }
}
@media screen and (min-width: 768px) {
  .container-form {
    min-width: 512px;
  }
}
@media screen and (min-width: 1024px) {
  .container-form {
    width: 813px;
  }
}

#backgroud-vanta {
  position: relative;
  width: 100%;
  height: 100%;
}

.link-positioner {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .link-positioner {
    justify-content: start;
    padding-left: 56px;
  }
}

.title-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .title-wraper {
    justify-content: start;
    width: 778px;
  }
}

.navig {
  display: none;
  padding-bottom: 24px;
  padding-top: 24px;
}
@media screen and (min-width: 1024px) {
  .navig {
    display: flex;
    border-top: 0.5px solid #b3b3b3;
    justify-content: center;
  }
}
.navig__list {
  display: flex;
  gap: 53px;
}
.navig__item {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.menu-icone {
  width: 25px;
  height: 18px;
}

.menu-icone:hover,
.menu-icone:focus {
  fill: #f09930;
}

.switcher {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.switcher__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.switcher__desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .switcher__desktop {
    display: flex;
  }
}

.logo {
  width: 107px;
  height: 16px;
}
@media screen and (min-width: 1024px) {
  .logo {
    width: 160px;
    height: 24.84px;
  }
}

.top-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .top-part {
    display: none;
  }
}

.menu-open {
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .menu-icone {
    fill: transparent;
  }
}

.linguage-switcher-mob {
  border-top: 0.5px solid #b3b3b3;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 24px;
}

.current {
  color: #808080;
}

.header-positioner {
  position: relative;
  padding-top: 75px;
}
@media screen and (min-width: 1024px) {
  .header-positioner {
    padding-top: 150px;
  }
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
  top: 0;
  left: 0;
  min-height: 120%;
  width: 100vw;
  height: 100vh;
}
.mob-menu__wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.mob-menu__close {
  min-width: 37px;
  border: 0;
  background-color: transparent;
}
.mob-menu__close-icone {
  width: 18px;
  height: 18px;
}

.navig-mobile {
  display: flex;
  flex-direction: column;
}
.navig-mobile__list {
  display: flex;
  flex-direction: column;
}
.navig-mobile__item {
  border-top: 0.5px solid #b3b3b3;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
}

.top-patr-desktop {
  display: none;
  padding-bottom: 24px;
  padding-top: 24px;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .top-patr-desktop {
    display: flex;
  }
}
.top-patr-desktop__logo {
  width: 160px;
  height: 24.84px;
}
.top-patr-desktop__switcher {
  position: absolute;
  top: 24px;
  right: 59px;
  display: flex;
  gap: 42px;
  align-items: center;
}
.top-patr-desktop__switcher-wraper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;
}
.top-patr-desktop__desktop {
  cursor: pointer;
}
.top-patr-desktop__desktop:hover, .top-patr-desktop__desktop:focus {
  color: #f09930;
}
.top-patr-desktop__icone {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.top-patr-desktop__icone:hover, .top-patr-desktop__icone:focus {
  fill: #f09930;
}
.top-patr-desktop__switcher-wraper:hover .top-patr-desktop__desktop {
  color: #f09930;
}

.desctop-positioner {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 11;
  background-color: #ffffff;
}

.hero {
  padding: 111px 0;
  background-color: var(--black-bcg-color);
  background-image: url(../images/hero-bcg.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 111px 7%;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: 200px 7%;
  }
}
.hero__title {
  color: var(--white-title-color);
  font-size: 36px;
  line-height: 1.1;
  text-transform: uppercase;
  max-width: 316px;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 96px;
  }
}

.hero__title--thin {
  font-weight: 300;
}

#backgroud-vanta {
  width: 100%;
  height: 100%;
}

.marketplaces {
  padding: 48px 0;
}
.marketplaces__item-first {
  max-width: 295px;
  margin-bottom: 110px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .marketplaces__item-first {
    max-width: 395px;
  }
}
.marketplaces__item-second {
  max-width: 321px;
  margin-left: auto;
  position: relative;
  margin-bottom: 59px;
}
@media screen and (min-width: 1024px) {
  .marketplaces__item-second {
    max-width: 431px;
    margin-top: -369px;
  }
}
.marketplaces__text {
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .marketplaces__text {
    font-size: 24px;
    line-height: 150%;
    position: relative;
    z-index: 1;
  }
}
.marketplaces__under-text {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 7px;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .marketplaces__under-text {
    font-size: 14px;
    position: relative;
    z-index: 1;
  }
}
.marketplaces__img {
  position: relative;
  z-index: 1;
}
.marketplaces__img-right {
  position: relative;
  z-index: 1;
  margin-left: auto;
}
.marketplaces__under-img-square {
  position: absolute;
  bottom: -63px;
  left: 126px;
}
@media screen and (min-width: 1024px) {
  .marketplaces__under-img-square {
    bottom: -115px;
    left: 154px;
    z-index: 0;
  }
}
.marketplaces__under-circle-img {
  position: absolute;
  bottom: -66px;
  left: -57px;
}
@media screen and (min-width: 1024px) {
  .marketplaces__under-circle-img {
    bottom: 97px;
    left: 256px;
    z-index: 0;
  }
}

.opportunity {
  background-color: #f2f2f2;
  padding: 32px 0;
}
.opportunity__title {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .opportunity__title {
    font-size: 36px;
    padding-top: 103px;
    padding-bottom: 103px;
  }
}

.focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black-bcg-color);
}
@media screen and (min-width: 1024px) {
  .focus {
    flex-direction: row;
  }
}
.focus .img-wraper {
  background-image: url(../images/mobile/women-in-white-bcg-x1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-color: black;
  min-width: 280px;
  min-height: 280px;
  width: 100%;
  height: 100%;
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .focus .img-wraper {
    background-image: url(../images/desktop/women-in-whitex1-bcg-dtx2.jpg);
    min-width: 634px;
    min-height: 604px;
    width: 44%;
    height: 50%;
    background-size: cover;
  }
}
.focus__wraper {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 1024px) {
  .focus__wraper {
    padding-top: 136px;
    padding-bottom: 136px;
  }
}
.focus__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white-title-color);
  min-height: 88px;
}
.focus__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: var(--white-text-color);
  max-width: 240px;
  margin-top: 8px;
  padding-bottom: 26px;
}
.focus__item {
  padding-left: 30px;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
  color: var(--white-text-color);
  padding-top: 1px;
  padding-bottom: 1px;
}
.focus__item::before {
  content: "";
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 12px;
}

.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
}
@media screen and (min-width: 1024px) {
  .how {
    padding-top: 160px;
    padding-bottom: 116px;
  }
}
.how__title {
  font-family: "Baskervville";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  color: var(--primary-title-color);
  text-align: center;
  text-transform: uppercase;
  max-width: 262px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  .how__title {
    margin-bottom: 130px;
    font-size: 60px;
    max-width: 100%;
  }
}
.how__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .how__wraper {
    flex-direction: row;
    gap: 33px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1100px) {
  .how__wraper {
    flex-direction: row;
    gap: 56px;
    align-items: baseline;
  }
}
.how__sub-wraper {
  position: relative;
}
.how__img-top {
  width: 117px;
  height: 115px;
  position: absolute;
  top: -61px;
  left: -59px;
}
@media screen and (min-width: 1024px) {
  .how__img-top {
    width: 134px;
    height: 132px;
    top: -57px;
    left: -58px;
  }
}
.how__img-bot {
  width: 117px;
  height: 115px;
  position: absolute;
  bottom: -38px;
  right: -55px;
}
@media screen and (min-width: 1024px) {
  .how__img-bot {
    width: 134px;
    height: 132px;
    bottom: -32px;
    right: -52px;
  }
}
.how__subtitle {
  min-width: 288px;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  background-color: #dadada;
  padding: 7px 43px;
  color: var(--primary-text-color);
  margin-bottom: 6px;
}
@media screen and (min-width: 1024px) {
  .how__subtitle {
    font-size: 36px;
  }
}
.how__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1024px) {
  .how__text {
    font-size: 18px;
  }
}
.how__separator {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .how__separator {
    font-size: 18px;
  }
}
.how__list {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  gap: 66px;
}
@media screen and (min-width: 1024px) {
  .how__list {
    flex-direction: row;
    margin-top: 141px;
  }
}

.how__item-text {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1024px) {
  .how__item-text {
    margin-bottom: 23px;
  }
}

.how__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 19px;
}

.how__item-item {
  padding-left: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-text-color);
  position: relative;
}

.how__item-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary-text-color);
  position: absolute;
  left: 0;
  top: 9.5px;
}

.who {
  background-color: var(--black-bcg-color);
}
.who__wraper {
  padding-top: 64px;
  padding-bottom: 64px;
}
.who__description-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.who__title {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white-title-color);
  margin-bottom: 13px;
}
@media screen and (min-width: 1024px) {
  .who__title {
    font-size: 60px;
    margin-bottom: 19px;
  }
}
.who__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--white-text-color);
  max-width: 250px;
  margin-bottom: 41px;
}
@media screen and (min-width: 1024px) {
  .who__description {
    font-size: 24px;
    max-width: 474px;
    margin-bottom: 52px;
  }
}
.who .div-wraper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .who .div-wraper {
    gap: 28px;
  }
}
.who__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .who__list {
    gap: 28px;
  }
}
.who__img {
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .who__img {
    margin-bottom: 32px;
  }
}
.who__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--white-title-color);
  max-width: 165px;
}
@media screen and (min-width: 1024px) {
  .who__subtitle {
    font-size: 24px;
    max-width: 100%;
  }
}
.who__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: var(--white-text-color);
}
@media screen and (min-width: 1024px) {
  .who__text {
    font-size: 18px;
  }
}

.e-comerce {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 1024px) {
  .e-comerce {
    padding-top: 144px;
    padding-bottom: 144px;
  }
}
.e-comerce__wraper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .e-comerce__wraper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.e-comerce__title {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-Baskervville-text);
}
@media screen and (min-width: 1024px) {
  .e-comerce__title {
    font-size: 36px;
  }
}
.e-comerce__text {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-Baskervville-text);
}
@media screen and (min-width: 1024px) {
  .e-comerce__text {
    font-size: 36px;
  }
}

.testimonials {
  background-color: var(--black-bcg-color);
  background-image: url(../images/testimonials-bcg.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}
.testimonials__list {
  display: flex;
  flex-direction: column;
  gap: 71px;
}
@media screen and (min-width: 1024px) {
  .testimonials__list {
    width: 34.65%;
    gap: 196px;
  }
}
.testimonials__wraper {
  padding-top: 56px;
  padding-bottom: 56px;
}
@media screen and (min-width: 1024px) {
  .testimonials__wraper {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.testimonials__title {
  font-family: "Baskervville";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-title-color);
  margin-bottom: 36px;
}
@media screen and (min-width: 1024px) {
  .testimonials__title {
    font-size: 60px;
    margin-bottom: 99px;
  }
}
.testimonials__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 71px;
}
@media screen and (min-width: 1024px) {
  .testimonials__box {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
  }
}
.testimonials__text {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.5;
  color: var(--white-text-color);
}
.testimonials__undertext {
  font-size: 14px;
  line-height: 1.5;
  color: var(--white-text-color);
  margin-top: -7px;
  margin-bottom: 21px;
  padding-left: 7px;
}
.testimonials__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: var(--white-text-color);
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .testimonials__description {
    font-size: 18px;
  }
}

.cases {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  background-color: var(--black-bcg-color);
}
@media screen and (min-width: 1024px) {
  .cases {
    padding-top: 72px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cases__title {
  font-family: "Baskervville";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 47px;
}
@media screen and (min-width: 1024px) {
  .cases__title {
    font-size: 60px;
  }
}
.cases__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.cases__item {
  background-color: var(--white-bcg-color);
  padding: 44px 36px;
}
@media screen and (min-width: 1164px) {
  .cases__item {
    min-width: 1020px;
  }
}
.cases__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 19px;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1024px) {
  .cases__subtitle {
    font-size: 24px;
  }
}
.cases__metric {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1024px) {
  .cases__metric {
    font-size: 48px;
  }
}
.cases__metric-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 0.9;
}
@media screen and (min-width: 1024px) {
  .cases__metric-text {
    font-size: 24px;
  }
}
.cases__button {
  background-color: var(--black-bcg-color);
  color: var(--white-text-color);
  padding: 10px 37px;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
}
@media screen and (min-width: 1164px) {
  .cases__button {
    min-width: 211px;
  }
}
.cases__button-icone {
  fill: var(--white-text-color);
  width: 21px;
  height: 11.5px;
}

.metric {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .metric {
    flex-direction: row;
    margin-bottom: 0;
    min-width: 100%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1164px) {
  .metric {
    min-width: 70%;
    justify-content: space-between;
  }
}

.metric--positioner {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  .metric--positioner:first-child {
    margin-right: 20px;
  }
}

.metric__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 1164px) {
  .metric-unstandart {
    margin-right: 90px;
  }
}

@media screen and (min-width: 1164px) {
  .metric-second {
    margin-right: 25px;
  }
}

.brands {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  overflow: hidden;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  .brands {
    height: 525px;
    padding-top: 135px;
    padding-bottom: 160px;
    justify-content: space-between;
  }
}
.brands__title {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .brands__title {
    font-size: 42px;
  }
}

.gradient-left {
  width: 40px;
  height: 171px;
  background: linear-gradient(to right, #fff, transparent);
  position: absolute;
  z-index: 2;
  top: 150;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .gradient-left {
    background: linear-gradient(to right, #fff 91px, transparent);
    top: 270px;
    left: 0;
    width: 150px;
    height: 171px;
  }
}

.gradient-right {
  width: 40px;
  height: 171px;
  background: linear-gradient(to right, transparent, #fff);
  position: absolute;
  z-index: 2;
  top: 110px;
  right: 0;
}
@media screen and (min-width: 1024px) {
  .gradient-right {
    background: linear-gradient(to right, transparent, #fff 91px);
    top: 270px;
    right: 0;
    width: 150px;
    height: 171px;
  }
}

.swiper-button-next:after {
  margin-top: 105px;
  margin-right: 50px;
  color: #808080;
}

.swiper-button-prev:after {
  margin-top: 105px;
  margin-left: 50px;
  color: #808080;
}

.partners {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  overflow: hidden;
  height: 282px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .partners {
    padding-top: 128px;
    padding-bottom: 128px;
    height: 478px;
  }
}
.partners__title {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 314px) {
  .partners__title {
    font-size: 36px;
    line-height: 1.2;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--black-bcg-color);
  position: relative;
}
.footer__wraper {
  border-bottom: 1px solid #484848;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 38px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .footer__wraper {
    flex-direction: column-reverse;
    padding-bottom: 48px;
  }
}
.footer__text {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  padding-bottom: 8px;
}
.footer__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  background-color: var(--white-text-color);
  padding: 3px 10px;
  min-width: 256px;
  color: #000;
}
.footer__button:hover, .footer__button:focus {
  background-color: #f09930;
  color: var(--white-text-color);
}
.footer__box {
  display: flex;
  flex-direction: row;
  gap: 33px;
  margin-bottom: 28px;
}
@media screen and (min-width: 1024px) {
  .footer__box {
    margin-bottom: 0;
  }
}
.footer__icone {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-text-color);
}
.footer__icone:hover, .footer__icone:focus {
  fill: #f09930;
}

.footer-navigation {
  margin-bottom: 37px;
}
@media screen and (min-width: 1024px) {
  .footer-navigation {
    margin-bottom: 0;
  }
}
.footer-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  .footer-navigation__list {
    flex-direction: row;
    gap: 36px;
    justify-content: space-between;
    width: 100%;
  }
}
.footer-navigation__item {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media screen and (min-width: 1440px) {
  .footer-navigation__item {
    font-size: 18px;
    line-height: 1.5;
  }
}

.privacy {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.privacy__link {
  font-size: 14px;
  line-height: 1.5;
  color: #c5c5c5;
}

.contact-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .contact-us {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 42px;
    max-width: 780px;
  }
}
@media screen and (min-width: 1440px) {
  .contact-us {
    max-width: 962px;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.privacy-policy {
  display: flex;
  flex-direction: column;
  padding: 69px 16px 56px;
  align-items: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .privacy-policy {
    padding: 30px 16px 130px;
  }
}
.privacy-policy__title {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .privacy-policy__title {
    align-self: flex-start;
    font-size: 60px;
  }
}
.privacy-policy__aftertitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #808080;
}
.privacy-policy__part {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding-top: 44px;
}
@media screen and (min-width: 1024px) {
  .privacy-policy__part {
    gap: 22px;
  }
}
.privacy-policy__standart-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}
.privacy-policy__bold-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}

.privacy-policy__part-unstandart {
  padding-top: 24px;
  align-self: flex-start;
}
@media screen and (min-width: 1024px) {
  .privacy-policy__part-unstandart {
    padding-top: 22px;
  }
}

.privacy-policy__bold-text-unstandart {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 22px;
}
@media screen and (min-width: 1024px) {
  .privacy-policy__bold-text-unstandart {
    margin-bottom: 22px;
  }
}

.terms {
  display: flex;
  flex-direction: column;
  padding: 69px 16px 56px;
  align-items: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .terms {
    padding: 30px 16px 130px;
  }
}
.terms__title {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .terms__title {
    align-self: flex-start;
    font-size: 60px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

:root {
  --primary-text-color: #373737;
  --secondary-text-color: #000000;
  --white-text-color: #ffffff;
  --primary-title-color: #373737;
  --secondary-title-color: #000000;
  --white-title-color: #ffffff;
  --main-color: #ffffff;
  --black-bcg-color: #272727;
  --white-bcg-color: #ffffff;
  --black-Baskervville-text: #272727;
  --eror-color: #ff4747;
  --dark-green: #6fac40;
  --accent-green: #6fac40;
}/*# sourceMappingURL=main.css.map */