@charset "UTF-8";
/* CБРОС СТИЛЕЙ */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* ОБЩИЕ */
img {
  display: block;
}

.title {
  text-align: center;
  color: var(--title-text-color);
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

/* УБИРАЕМ ПОДЧЕРКИВАНИЕ */
.decoration {
  text-decoration: none;
}

/* УБИРАЕТ ЭФФЕКТ СПИСКА */
.list {
  list-style: none;
}

/* НАСТРАИВАЕМ ПРАВИЛЬНЫй РАЗМЕР БЛОКОВ */
html {
  box-sizing: border-box;
}

/* НАСЛЕДОВАНИЕ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/* СПРЯТАННЫЕ ЭЛЛЕМЕНТЫ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.text--thick {
  font-weight: 500;
}

.section {
  background-color: var(--white-bcg-color);
}

.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.space {
  margin-bottom: 26px;
}

.navig {
  display: none;
}

.menu-icone {
  width: 25px;
  height: 18px;
}

.english {
  display: none;
}

.france {
  display: none;
}

.logo {
  width: 107px;
  height: 16px;
}

.top-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-open {
  border: 0;
  background-color: transparent;
}

.linguage-switcher-mob {
  border-top: 0.5px solid #b3b3b3;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 24px;
}

.current {
  color: #808080;
}

.header-positioner {
  position: relative;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.mob-menu__wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.mob-menu__close {
  min-width: 37px;
  border: 0;
  background-color: transparent;
}
.mob-menu__close-icone {
  width: 18px;
  height: 18px;
}

.navig-mobile {
  display: flex;
  flex-direction: column;
}
.navig-mobile__list {
  display: flex;
  flex-direction: column;
}
.navig-mobile__item {
  border-top: 0.5px solid #b3b3b3;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
}

.hero {
  padding: 111px 0;
  background-color: var(--black-bcg-color);
  background-image: url(../images/hero-bcg.png);
  background-repeat: no-repeat;
}
.hero__title {
  color: var(--white-title-color);
  font-size: 36px;
  line-height: 1.1;
  text-transform: uppercase;
  max-width: 316px;
  font-weight: 500;
}

.hero__title--thin {
  font-weight: 300;
}

.marketplaces {
  padding: 48px 0;
}
.marketplaces__item-first {
  max-width: 295px;
  margin-bottom: 110px;
  position: relative;
}
.marketplaces__item-second {
  max-width: 321px;
  margin-left: auto;
  position: relative;
  margin-bottom: 59px;
}
.marketplaces__text {
  text-transform: uppercase;
}
.marketplaces__under-text {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 7px;
  text-align: right;
}
.marketplaces__img {
  position: relative;
  z-index: 1;
}
.marketplaces__img-right {
  position: relative;
  z-index: 1;
  margin-left: auto;
}
.marketplaces__under-img-square {
  position: absolute;
  bottom: -64px;
  left: 122px;
}
.marketplaces__under-circle-img {
  position: absolute;
  bottom: -62px;
  left: -1px;
}

.opportunity {
  background-color: #f2f2f2;
  padding: 32px 0;
}
.opportunity__title {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black-bcg-color);
}
.focus__wraper {
  margin-top: 48px;
  padding-bottom: 48px;
}
.focus__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white-title-color);
  min-height: 88px;
}
.focus__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: var(--white-text-color);
  max-width: 240px;
  margin-top: 8px;
  padding-bottom: 26px;
}
.focus__item {
  padding-left: 30px;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
  color: var(--white-text-color);
  padding-top: 1px;
  padding-bottom: 1px;
}
.focus__item::before {
  content: "";
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 12px;
}

.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
}
.how__title {
  font-family: "Baskervville";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  color: var(--primary-title-color);
  text-align: center;
  text-transform: uppercase;
  max-width: 262px;
  margin-bottom: 60px;
}
.how__subtitle {
  min-width: 288px;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  background-color: #dadada;
  padding: 7px 43px;
  color: var(--primary-text-color);
  margin-bottom: 6px;
}
.how__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}
.how__separator {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 16px;
}
.how__list {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  gap: 66px;
}

.how__item-text {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.how__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 19px;
}

.how__item-item {
  padding-left: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-text-color);
  position: relative;
}

.how__item-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary-text-color);
  position: absolute;
  left: 0;
  top: 9.5px;
}

.who {
  background-color: var(--black-bcg-color);
}
.who__wraper {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.who__title {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-title-color);
  margin-bottom: 13px;
}
.who__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--white-text-color);
  max-width: 250px;
  margin-bottom: 41px;
}
.who__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 32px;
}
.who__img {
  margin-bottom: 12px;
}
.who__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--white-title-color);
  max-width: 165px;
}
.who__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: var(--white-text-color);
}

.e-comerce {
  padding-top: 48px;
  padding-bottom: 48px;
}
.e-comerce__title {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-Baskervville-text);
}

.testimonials {
  background-color: var(--black-bcg-color);
}
.testimonials__list {
  display: flex;
  flex-direction: column;
  gap: 71px;
}
.testimonials__wraper {
  padding-top: 56px;
  padding-bottom: 56px;
}
.testimonials__title {
  font-family: "Baskervville";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-title-color);
  margin-bottom: 36px;
}
.testimonials__text {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.5;
  color: var(--white-text-color);
}
.testimonials__undertext {
  font-size: 14px;
  line-height: 1.5;
  color: var(--white-text-color);
  margin-top: -7px;
  margin-bottom: 21px;
  padding-left: 7px;
}
.testimonials__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: var(--white-text-color);
  margin-bottom: 36px;
}

.cases {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: var(--black-bcg-color);
}
.cases__title {
  font-family: "Baskervville";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 47px;
}
.cases__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.cases__item {
  background-color: var(--white-bcg-color);
  padding: 44px 36px;
}
.cases__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 19px;
  color: var(--secondary-text-color);
}
.cases__metric {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
.cases__metric-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 0.9;
}
.cases__button {
  background-color: var(--black-bcg-color);
  color: var(--white-text-color);
  padding: 10px 37px;
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 7.5px;
}
.cases__button-icone {
  fill: var(--white-text-color);
  width: 21px;
  height: 11.5px;
}

.metric {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.metric--positioner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brands {
  padding-top: 56px;
  padding-bottom: 56px;
}
.brands__title {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.partners {
  padding-top: 56px;
  padding-bottom: 56px;
}
.partners__title {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--black-bcg-color);
}
.footer__wraper {
  border-bottom: 1px solid #484848;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 36px;
  position: relative;
}
.footer__text {
  font-size: 24px;
  line-height: 2.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  padding-bottom: 33px;
}
.footer__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  color: var(--primary-text-color);
  padding: 3px 10px;
  min-width: 256px;
  position: absolute;
  bottom: 40px;
}
.footer__box {
  display: flex;
  flex-direction: row;
  gap: 33px;
  margin-bottom: 28px;
}
.footer__icone {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-text-color);
}

.footer-navigation {
  margin-bottom: 37px;
}
.footer-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-navigation__item {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.privacy {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.privacy__link {
  font-size: 14px;
  line-height: 1.5;
  color: #c5c5c5;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

:root {
  --primary-text-color: #373737;
  --secondary-text-color: #000000;
  --white-text-color: #ffffff;
  --primary-title-color: #373737;
  --secondary-title-color: #000000;
  --white-title-color: #ffffff;
  --main-color: #ffffff;
  --black-bcg-color: #272727;
  --white-bcg-color: #ffffff;
  --black-Baskervville-text: #272727;
}/*# sourceMappingURL=main.css.map */