.brands {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;

  overflow: hidden;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (min-width: 1024px) {
    height: 525px;
    padding-top: 135px;
    padding-bottom: 160px;
    justify-content: space-between;
  }
  &__title {
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    @media screen and (min-width: 1024px) {
      font-size: 42px;
    }
    text-align: center;
    text-transform: uppercase;
  }
}
.gradient-left {
  width: 40px;
  height: 171px;
  background: linear-gradient(to right, #fff, transparent);
  position: absolute;
  z-index: 2;
  top: 150;
  left: 0;
  @media screen and (min-width: 1024px) {
    background: linear-gradient(to right, #fff 91px, transparent);
    top: 270px;
    left: 0;
    width: 150px;
    height: 171px;
  }
}
.gradient-right {
  width: 40px;
  height: 171px;
  background: linear-gradient(to right, transparent, #fff);
  position: absolute;
  z-index: 2;
  top: 110px;
  right: 0;
  @media screen and (min-width: 1024px) {
    background: linear-gradient(to right, transparent, #fff 91px);
    top: 270px;
    right: 0;
    width: 150px;
    height: 171px;
  }
}

.swiper-button-next:after {
  margin-top: 105px;
  color: #808080;
}

.swiper-button-prev:after {
  margin-top: 105px;
  color: #808080;
}
