.brands {
  padding-top: 56px;
  padding-bottom: 56px;
  &__title {
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }
}
