.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--black-bcg-color);
  position: relative;
  &__wraper {
    border-bottom: 1px solid #484848;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 38px;
    position: relative;
    @media screen and (min-width: 1024px) {
      flex-direction: column-reverse;
      padding-bottom: 48px;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    padding-bottom: 8px;
  }
  &__button {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    text-align: center;
    background-color: var(--white-text-color);
    padding: 3px 10px;
    min-width: 256px;
    color: #000;
    // position: absolute;
    // bottom: 40px;
  }
  &__button:hover,
  &__button:focus {
    background-color: #f09930;
    color: var(--white-text-color);
  }

  &__box {
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin-bottom: 28px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 0;
    }
  }
  &__icone {
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white-text-color);
  }
  &__icone:hover,
  &__icone:focus {
    fill: #f09930;
  }
}
.footer-navigation {
  margin-bottom: 37px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 36px;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
  }
  &__item {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    @media screen and (min-width: 1440px) {
      font-size: 18px;
      line-height: 1.5;
    }
  }
}

.privacy {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  &__link {
    font-size: 14px;
    line-height: 1.5;
    color: #c5c5c5;
  }
}

.contact-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (min-width: 1024px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 42px;
    max-width: 780px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 962px;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.contact-us-button {
  background-color: transparent;
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  padding-bottom: 1px;
  /* or 27px */

  // text-align: center;
  text-transform: uppercase;
}
