.navig {
  display: none;
  padding-bottom: 24px;
  padding-top: 24px;
  @media screen and (min-width: 1024px) {
    display: flex;
    border-top: 0.5px solid #b3b3b3;
    justify-content: center;
  }
  &__list {
    display: flex;
    gap: 53px;
  }
  &__item {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }
}
.menu-icone {
  width: 25px;
  height: 18px;
}

.menu-icone:hover,
.menu-icone:focus {
  fill: #f09930;
}

.switcher {
  display: flex;
  flex-direction: row;
  align-content: center;
  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__desktop {
    display: none;
    @media screen and (min-width: 1024px) {
      display: flex;
    }
  }
}

.logo {
  width: 107px;
  height: 16px;
  @media screen and (min-width: 1024px) {
    width: 160px;
    height: 24.84px;
  }
}

.top-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.menu-open {
  border: 0;
  background-color: transparent;
}

// ПОТОМ ПОПРАВИТЬ
.menu-icone {
  @media screen and (min-width: 1024px) {
    fill: transparent;
  }
}

.linguage-switcher-mob {
  border-top: 0.5px solid #b3b3b3;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 24px;
}

.current {
  color: #808080;
}

.header-positioner {
  position: relative;
  padding-top: 75px;
  @media screen and (min-width: 1024px) {
    padding-top: 150px;
  }
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
  top: 0;
  left: 0;
  min-height: 120%;
  width: 100vw;
  height: 100vh;
  &__wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &__close {
    min-width: 37px;
    border: 0;
    background-color: transparent;
  }
  &__close-icone {
    width: 18px;
    height: 18px;
  }
}

.navig-mobile {
  display: flex;
  flex-direction: column;
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    border-top: 0.5px solid #b3b3b3;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
  }
}

.top-patr-desktop {
  display: none;
  padding-bottom: 24px;
  padding-top: 24px;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  @media screen and (min-width: 1024px) {
    display: flex;
  }
  &__logo {
    width: 160px;
    height: 24.84px;
  }
  &__switcher {
    position: absolute;
    top: 24px;
    right: 59px;
    display: flex;
    gap: 42px;
    align-items: center;
  }
  &__switcher-wraper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
  }
  &__desktop {
    cursor: pointer;
  }

  &__desktop:hover,
  &__desktop:focus {
    color: #f09930;
  }

  &__icone {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__icone:hover,
  &__icone:focus {
    fill: #f09930;
  }

  &__switcher-wraper:hover &__desktop {
    color: #f09930;
  }
}

.desctop-positioner {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 11;
  background-color: #ffffff;
}

.contact-us-button-white-bgc {
  background-color: transparent;
  color: #000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 1px;
  /* or 27px */

  // text-align: center;
  text-transform: uppercase;
}
