.hero {
  padding: 111px 0;
  background-color: var(--black-bcg-color);
  background-image: url(../images/hero-bcg.png);
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    padding: 111px 7%;
  }
  @media screen and (min-width: 1024px) {
    padding: 200px 7%;
  }

  &__title {
    color: var(--white-title-color);
    font-size: 36px;
    line-height: 1.1;
    text-transform: uppercase;
    max-width: 316px;
    font-weight: 500;
    @media screen and (min-width: 1024px) {
      font-size: 96px;
    }
  }
}
.hero__title--thin {
  font-weight: 300;
}
