.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
  @media screen and (min-width: 1024px) {
    padding-top: 160px;
    padding-bottom: 116px;
  }
  &__title {
    font-family: 'Baskervville';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: var(--primary-title-color);
    text-align: center;
    text-transform: uppercase;
    max-width: 262px;
    margin-bottom: 60px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 130px;
      font-size: 60px;
      max-width: 100%;
    }
  }
  &__wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 33px;
      align-items: baseline;
    }
    @media screen and (min-width: 1100px) {
      flex-direction: row;
      gap: 56px;
      align-items: baseline;
    }
  }
  &__sub-wraper {
    position: relative;
  }
  &__img-top {
    width: 117px;
    height: 115px;
    position: absolute;
    top: -61px;
    left: -59px;
    @media screen and (min-width: 1024px) {
      width: 134px;
      height: 132px;
      top: -57px;
      left: -58px;
    }
  }
  &__img-bot {
    width: 117px;
    height: 115px;
    position: absolute;
    bottom: -38px;
    right: -55px;
    @media screen and (min-width: 1024px) {
      width: 134px;
      height: 132px;
      bottom: -32px;
      right: -52px;
    }
  }
  &__subtitle {
    min-width: 288px;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    background-color: #dadada;
    padding: 7px 43px;
    color: var(--primary-text-color);
    margin-bottom: 6px;
    @media screen and (min-width: 1024px) {
      font-size: 36px;
    }
  }
  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: var(--primary-text-color);
    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }
  &__separator {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 16px;
    // margin-left: auto;
    // margin-right: auto;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }
  &__list {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    gap: 66px;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      margin-top: 141px;
    }
  }
}
.how__wraper.fr {
  gap: 23px;
}

.how__item-text {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-text-color);
  @media screen and (min-width: 1024px) {
    margin-bottom: 23px;
  }
}
.how__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 19px;
}

.how__item-item {
  padding-left: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-text-color);
  position: relative;
}
.how__item-item::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary-text-color);
  position: absolute;
  left: 0;
  top: 9.5px;
}
