.marketplaces {
  padding: 48px 0;
  max-width: 1456px;
  margin-left: auto;
  margin-right: auto;

  &__item-first {
    max-width: 295px;
    margin-bottom: 110px;
    position: relative;
    @media screen and (min-width: 1024px) {
      max-width: 395px;
    }
  }

  &__item-second {
    max-width: 321px;
    margin-left: auto;
    position: relative;
    margin-bottom: 59px;
    @media screen and (min-width: 1024px) {
      max-width: 431px;
      margin-top: -369px;
    }
  }
  &__text {
    text-transform: uppercase;
    @media screen and (min-width: 1024px) {
      font-size: 24px;
      line-height: 150%;
      position: relative;
      z-index: 1;
    }
  }
  &__under-text {
    font-size: 12px;
    @media screen and (min-width: 1024px) {
      font-size: 14px;
      position: relative;
      z-index: 1;
    }
    margin-top: 2px;
    margin-bottom: 7px;
    text-align: right;
  }
  &__img {
    position: relative;
    z-index: 1;
  }
  &__img-right {
    position: relative;
    z-index: 1;
    margin-left: auto;
  }
  &__under-img-square {
    position: absolute;
    bottom: -63px;
    left: 126px;
    @media screen and (min-width: 1024px) {
      bottom: -115px;
      left: 154px;
      z-index: 0;
    }
  }
  &__under-circle-img {
    position: absolute;
    bottom: -66px;
    left: -57px;
    @media screen and (min-width: 1024px) {
      bottom: 97px;
      left: 256px;
      z-index: 0;
    }
  }
}

.marketplaces__item-first.fr {
  max-width: 316px;
  @media screen and (min-width: 1024px) {
    max-width: 420px;
  }
}

.marketplaces__item-second.fr {
  max-width: 321px;
  @media screen and (min-width: 1024px) {
    max-width: 431px;
  }
  @media screen and (min-width: 1100px) {
    max-width: 501px;
  }
}
