.marketplaces {
  padding: 40px 0;
  &__item-first {
    max-width: 300px;
    margin-bottom: 41px;
  }
  &__item-second {
    max-width: 321px;
    margin-left: auto;
  }
  &__text {
    text-transform: uppercase;
  }
  &__under-text {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 7px;
    text-align: right;
  }
}
