.opportunity {
  background-color: #f2f2f2;
  padding: 32px 0;
  &__title {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 1024px) {
      font-size: 36px;
      padding-top: 103px;
      padding-bottom: 103px;
    }
  }
}
