.partners {
  padding-top: 56px;
  padding-bottom: 56px;
  &__title {
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 314px) {
      font-size: 36px;
      line-height: 1.2;
    }
  }
}
