.partners {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  overflow: hidden;
  height: 282px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 1024px) {
    padding-top: 128px;
    padding-bottom: 128px;
    height: 478px;
  }
  &__title {
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 314px) {
      font-size: 36px;
      line-height: 1.2;
    }
  }
}

#left::after {
  height: 5px;
  width: 5px;
  background-color: black;
}


