.testimonials {
  background-color: var(--black-bcg-color);
  background-image: url(../images/testimonials-bcg.png);
  background-size: contain;
  width: 100%;
  height: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 71px;
    @media screen and (min-width: 1024px) {
      width: 34.65%;
      gap: 196px;
    }
  }
  &__wraper {
    padding-top: 56px;
    padding-bottom: 56px;
    @media screen and (min-width: 1024px) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }
  &__title {
    font-family: 'Baskervville';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-title-color);
    margin-bottom: 36px;
    @media screen and (min-width: 1024px) {
      font-size: 60px;
      margin-bottom: 99px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 71px;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-around;
      gap: 0;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.5;
    color: var(--white-text-color);
  }
  &__undertext {
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-text-color);
    margin-top: -7px;
    margin-bottom: 21px;
    padding-left: 7px;
  }
  &__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-text-color);
    margin-bottom: 16px;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }
}
