.who {
  background-color: var(--black-bcg-color);
  &__wraper {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  &__description-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--white-title-color);
    margin-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 11px;
    @media screen and (min-width: 313px) {
      font-size: 36px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 60px;
      margin-bottom: 19px;
    }
  }
  &__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: var(--white-text-color);
    max-width: 250px;
    margin-bottom: 41px;
    @media screen and (min-width: 1024px) {
      font-size: 24px;
      max-width: 474px;
      margin-bottom: 52px;
    }
  }
  .div-wraper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    @media screen and (min-width: 1024px) {
      gap: 28px;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    @media screen and (min-width: 1024px) {
      gap: 28px;
    }
  }
  &__img {
    margin-bottom: 12px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 32px;
    }
  }
  &__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--white-title-color);
    max-width: 165px;
    @media screen and (min-width: 1024px) {
      font-size: 24px;
      max-width: 100%;
    }
  }
  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-text-color);
    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }
}
