.form {
  overflow-y: auto;
  background-color: #272727;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;

  &__link {
    padding-top: 28px;
  }
  &__logo {
    fill: #ffffff;
    width: 107px;
    height: 16.61px;
    @media screen and (min-width: 1024px) {
      width: 160px;
      height: 24.84px;
    }
  }
  &__close {
    background-color: transparent;
    // width: 23px;
    // height: 23px;
    position: absolute;
    top: 26px;
    right: 24px;
    cursor: pointer;
    @media screen and (min-width: 1024px) {
      right: 56px;
    }
  }
  &__close-icone {
    fill: #ffffff;
    width: 23px;
    height: 23px;
  }

  &__close-icone:hover,
  &__close-icone:focus {
    fill: #f09930;
  }

  &__title {
    font-family: 'Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-title-color);
    max-width: 200px;
    margin-top: 60px;
    @media screen and (min-width: 1024px) {
      max-width: 599px;
      font-size: 60px;
    }
  }
}

.form__title.fr {
  max-width: 292px;
  margin-top: 30px;
  @media screen and (min-width: 414px) {
    margin-top: 60px;
  }
}

.modal__form {
  padding-top: 35px;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 288px;
  @media screen and (min-width: 380px) {
    max-width: 371px;
  }
  @media screen and (min-width: 768px) {
    max-width: 544px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 810px;
  }
}

.modal__input-positioner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    gap: 24px;
  }
}

.modal-form-positioner {
  display: flex;
  flex-direction: column;
  // gap: 24px;
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    // gap: 24px;
  }
}

.modal__field {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.modal__lable {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
}

.input__wrap {
  height: 100%;
}

.modal__input {
  cursor: text;
  width: 100%;
  height: 50px;
  outline: none;
  min-width: 256px;
  border: 1px solid #cccccc;
  transition: border 250ms var(--timing-function);
  padding: 12px 16px;

  // &::placeholder {
  //   color: #f8f8f8;
  // }
  // &:focus,
  // &:not(:placeholder-shown):valid {
  //   border: 1px solid var(--dark-green);
  // }

  // &:not(:focus):not(:placeholder-shown):invalid {
  //   border: 1px solid var(--eror-color);
  // }

  @media screen and (min-width: 380px) {
    min-width: 339px;
  }
  @media screen and (min-width: 768px) {
    min-width: 512px;
  }
  @media screen and (min-width: 1024px) {
    min-width: 377px;
  }
}

/////////////////////////////
// input + span {
//   position: relative;
// }

// input + span::before {
//   position: absolute;
//   right: 10px;
//   top: -3px;
// }

// input:invalid {
//   border: 2px solid red;
// }

// input:invalid + span:not(:focus)::before {
//   content: '✖';
//   color: red;
// }

// input:valid + span::before {
//   content: '✓';
//   color: green;
// }
// .modal__input:valid & {
//   background-color: var(--accent-green);
// }
// .form-modal__input:not(:focus):not(:placeholder-shown):invalid + & {
//   display: block;
// }
// .modal__coment {
//   height: 123px;
//   width: 100%;
// }

//////////////////////////////////////
.online__comment {
  resize: none;
  height: 123px;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  outline: none;
  min-width: 256px;
  border: 1px solid #cccccc;
  padding: 12px 16px;
  @media screen and (min-width: 380px) {
    min-width: 339px;
  }
  @media screen and (min-width: 768px) {
    min-width: 512px;
  }
  @media screen and (min-width: 1024px) {
    min-width: 778px;
  }
}

::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  color: #6f6f6f;
}
.modal__wrap-button {
  margin-right: auto;
}
.modal__button {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  background: #f09930;
  color: #ffffff;
  padding: 14px;
  min-width: 256px;
  @media screen and (min-width: 380px) {
    min-width: 339px;
  }
  @media screen and (min-width: 768px) {
    min-width: 512px;
  }
  @media screen and (min-width: 1024px) {
    min-width: 256px;
    height: 38px;
    margin-top: 7px;
    padding: 8px;
  }
}
.container-form {
  @media screen and (min-width: 380px) {
    min-width: 339px;
  }
  @media screen and (min-width: 768px) {
    min-width: 512px;
  }
  @media screen and (min-width: 1024px) {
    width: 813px;
  }
}

#backgroud-vanta {
  position: relative;
  width: 100%;
  height: 100%;
}

.link-positioner {
  width: 100%;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1024px) {
    justify-content: start;
    padding-left: 56px;
  }
}

.title-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1024px) {
    justify-content: start;
    width: 778px;
  }
}
