.modal-havaianas {
  overflow-y: auto;
  background-color: var(--main-color);
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1024px) {
    height: 80vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffea;
    backdrop-filter: blur(5px);
  }
  @media screen and (min-width: 1163px) {
    width: 1106px;
  }
  &__close {
    align-self: flex-end;
    min-width: 37px;
    border: 0;
    background-color: transparent;
    padding: 16px;
  }
  &__close-icone {
    width: 18px;
    height: 18px;
  }
}
