/* CБРОС СТИЛЕЙ */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* ОБЩИЕ */
img {
  display: block;
  // width: 100%;
  // max-width: 100%;
}

.title {
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

/* УБИРАЕМ ПОДЧЕРКИВАНИЕ */
.decoration {
  text-decoration: none;
}

/* УБИРАЕТ ЭФФЕКТ СПИСКА */
.list {
  list-style: none;
}

/* НАСТРАИВАЕМ ПРАВИЛЬНЫй РАЗМЕР БЛОКОВ */

html {
  box-sizing: border-box;
}

/* НАСЛЕДОВАНИЕ */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/* СПРЯТАННЫЕ ЭЛЛЕМЕНТЫ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
