:root {
  --primary-text-color: #373737;
  --secondary-text-color: #000000;
  --white-text-color: #ffffff;
  --primary-title-color: #373737;
  --secondary-title-color: #000000;
  --white-title-color: #ffffff;
  --main-color: #ffffff;
  --black-bcg-color: #272727;
}
