:root {
  --primary-text-color: #373737;
  --secondary-text-color: #000000;
  --white-text-color: #ffffff;
  --primary-title-color: #373737;
  --secondary-title-color: #000000;
  --white-title-color: #ffffff;
  --main-color: #ffffff;
  --black-bcg-color: #272727;
  --white-bcg-color: #ffffff;
  --black-Baskervville-text: #272727;
  --eror-color: #ff4747;
  --dark-green: #6fac40;
  --accent-green: #6fac40;
  --orange-accent: #f09930;
}
